/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  width: 97vw;
  margin: auto;
}
.container header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
@media (max-width: 800px) {
  .container header {
    flex-direction: column;
  }
  .container header .contact-info {
    width: 100%;
    display: inline-flex;
  }
  .container header .contact-info img {
    display: none;
  }
  .container header .center {
    display: inline;
    width: 100%;
  }
}
@media (max-width: 650px) {
  .container header * {
    flex-wrap: wrap;
  }
}
.container h1 {
  font-size: 35px;
  font-weight: bolder;
}
.container h2 {
  font-size: 30px;
  font-weight: bold;
}
.container h3 {
  font-size: 25px;
  font-weight: bold;
}
.container h4 {
  font-weight: bold;
  font-size: 20px;
}
.container p {
  font-size: 18px;
}
.container img {
  margin: 0px 1%;
  height: 15vw;
  display: inline;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}
.container .contact-info {
  display: flex;
  align-items: center;
}
.container .right-header {
  font-weight: bolder;
  padding: 10px;
  line-height: 30px;
}
.container .center {
  width: 30vw;
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
}
.container .label {
  display: none;
}
.container .navbars nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5%;
}
.container .navbars nav a {
  text-decoration: none;
}
.container .navbars nav a:hover,
.container .navbars nav .icon:hover {
  color: red;
  border: none;
}
.container .navbars nav nav-item {
  margin: 12px;
}
@media (max-width: 800px) {
  .container .navbars nav {
    display: inline-flex;
    flex-direction: row;
  }
}
.container .tabs a {
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  justify-content: center;
  padding: 5px;
}
.container .icons .fab {
  color: black;
  background: lightgray;
  font-size: 30px;
  border-radius: 10px;
}
.container .main-content {
  width: 90%;
  margin: auto;
}
.container .main-content section ul,
.container .main-content section h4 {
  margin: 10px 8%;
}
.container .main-content section p {
  margin: 10px 5%;
}
.container .main-content .about-box-content {
  display: flex;
  padding: 10px;
}
.container .main-content .about-box-content img {
  margin: 10px;
}
.container .main-content .about-box-content p {
  padding: 10px;
}
.container .box {
  background: lightgray;
  border: solid 3px red;
  box-shadow: 8px 8px 8px gray;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 10px;
}
.container .box h2 {
  text-align: center;
}
.container .frontend,
.container .backend {
  margin: 10px 8%;
  flex-direction: column;
  display: inline-flex;
}
.container .active a {
  color: red;
  background: lightgray;
  border: none;
}
.container .active a:hover {
  color: red;
  border: 2px solid gray;
}
.container footer {
  width: 100%;
}
.container footer nav,
.container footer .copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 30px;
  font-size: 18px;
}
.container footer nav *,
.container footer .copyright * {
  margin: 5px 10px;
}
.container footer nav .icon {
  font-size: 30px;
  border-radius: 20px;
  color: red;
  background: lightgray;
}
.container footer nav .icon:hover {
  color: black;
  background: lightgray;
}
.container form {
  width: 80%;
  padding: 5px 20%;
  margin: auto auto;
  line-height: 30px;
  font-weight: bolder;
  background: red;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  border: solid 5px black;
  text-align: left;
}
.container form input {
  border: 2px solid gray;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  font-weight: bolder;
  font-size: 18px;
}
.container form textarea {
  width: 100%;
}
.container .body-background {
  background: red;
  background-image: url("/pictures/AviatorCLub.jpg");
  background-position: top;
  background-repeat: no-repeat;
  opacity: .25;
  height: 100%;
  background-size: 100%;
  position: fixed;
  width: 98vw;
  z-index: -1;
  margin: -15% auto 0;
}
