.container.form{
    background: #FFF;
    padding:30px;
    width: 80%;
    max-width:1000px;
    margin:10px auto;

    @media (max-width: 700px) {
        width: 100%;
    }
}
form {
    width: 100%;
    padding: 30px 20px;
    line-height: 1.8rem;
    font-size: 1.4rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:25px;


    label{
        display:flex;
        flex-direction:column;
        gap:10px;
    }

    input,
    textarea {
        background: rgb(255, 255, 255);
        border: 1px solid #333;
        width: 100%;
        padding:10px;
        font-size: 18px;
        font-family:"Source Sans Pro", sans-serif;
    }

    textarea {
        height: 100px;
    }

    button {
        font-size: 18px;
        font-weight: bolder;
        border-radius: 3px;
        padding:10px 15px;
        background: #683e57;
        width:100%;
        color:#FFF;
        border:none;
        cursor:pointer;

        &:hover {
            background: #8e5b79;
        }

    }
}