.box {
  background: lightgray;
  border: solid 3px #D12D32;
  box-shadow: 8px 8px 8px gray;
  border-radius: 3px;
  max-width: 1000px;
  margin: 20px auto;
  padding: 10px;

  h3 {
    @media screen and (max-width:700px) {
      font-size: 1.5rem;
    }
  }

  h4 {
    @media screen and (max-width:700px) {
      font-size: 1rem;
    }

  }
}

.box h2 {
  text-align: center;
}

.frontend,
.backend {
  margin: 10px 8%;
  flex-direction: column;
  display: inline-flex;
}